{% extends "base.html" %}

{% block content %}
    <noscript>
        <a href="/">Refresh</a>
    </noscript>

    <iframe name="frame" style="display: none;"></iframe>
    <form action="/feed" method="post" target="frame">
        <label>
            Message:
            <input type="text" minlength="1" name="content" required>
        </label>

        <button type="submit">Send</button>
    </form>

    <ul id="chat">
        {% for post in posts %}
            {% block post %}
                <li>
                    <p>{{post.username}}: {{post.content}}</p>
                </li>
            {% endblock post %}
        {% endfor %}
    </ul>

    <script>
        const chat = document.getElementById("chat");
        const sse = new EventSource("/feed");
        sse.onmessage = function(msg) {
            const parent = document.createElement('li');
            const element = document.createElement('p');
            parent.appendChild(element);
            element.innerText = msg.data;
            chat.insertBefore(parent, chat.firstChild);
        };
    </script>
{% endblock content %}
