{% extends "base.html" %}

{% block content %}
    <noscript>
        <a href="/">Refresh</a>
    </noscript>

    <form action="/" method="post">
        <label>
            Message:
            <input type="text" name="content">
        </label>

        <button type="submit">Send</button>
    </form>

    <ul>
        {% for post in posts %}
            {% block post %}
                <li>
                    <p>{{post.user}}: {{post.content}}</p>
                </li>
            {% endblock post %}
        {% endfor %}
    </ul>
{% endblock content %}